.day-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95%;

    .day-header {
        align-self: center;
        margin-bottom: 10px;
    }

    .hour {
        position: relative;
        height: calc(100% /14);
        display: flex;
        border-top: 1px solid rgba(207, 207, 207, 0.699);

        &:last-child {
            border-bottom: 1px solid rgba(207, 207, 207, 0.699);
        }
    }

    .hour-label {
        align-self: center;
        justify-self: center;
        // position: absolute;
        // top: 0;
    }

    .student-slot {
        position: absolute;
        width: 80%;
        height: 100%;
        right: 10%;
        z-index: 20;
    }

    .student {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: lightblue;
        border-radius: 5px;
        p{
            height: 100%;
            font-size: 16px;
            color: white;
            font-weight: 500;
        }
        button {
            height: 80%;
        }
    }
}